.table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 8px;
    border: 1px solid #ddd;
}

h4 {
    text-align: center;
}